.back-bg{
    background-color:rgb(225, 231, 231);

}
.logo{
    width: 35px;
    height: 30px;

}
.size img{
    max-width: 50%;
    max-height: 50%;
    
}
.button-size{
    color: white;
    background-color: coral;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    border: 0;
}
.button-footer{
    justify-content: space-between;
    background-color: white;
}
.box img{
    float:left;
    width: 120%;
    height: 100%;
    
}
.size-icon img{
    max-width: 100%;
    max-height: 60%;
}
.final-step{
    width: 400px;
    height: 100px;
    background-color: white;
    justify-content: center;
}

.col{
    border: 0;
    border-radius: 20px;
}
.icon img{
     width: 50%;

}
.final-icon img{
    width: 500px;
    height: 300px;
}
.b-size{
    border: 0;

}
.overall-size{
    border-radius: 20px;
    background-color: white;
    color: rgb(20, 37, 8) ;
    width: 500px;
}






